node-red/facerecognition.json
[
    {
        "id": "5a311d30739734e2",
        "type": "tab",
        "label": "Flow 9",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a023a3ba7e86465",
        "type": "http request",
        "z": "5a311d30739734e2",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.88/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "3583d35e168c48f4"
            ]
        ]
    },
    {
        "id": "964a839c027d12df",
        "type": "file",
        "z": "5a311d30739734e2",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "setbymsg",
        "x": 810,
        "y": 260,
        "wires": [
            [
                "1eafa5e618379f1f"
            ]
        ]
    },
    {
        "id": "3583d35e168c48f4",
        "type": "function",
        "z": "5a311d30739734e2",
        "name": "",
        "func": "msg.filename = \"/home/unitec/Documentos/GitHub/Proyecto-Capstone-UNITEC/python/facedetection/cam_photos/\"+global.get (\"fecha\")+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "964a839c027d12df"
            ]
        ]
    },
    {
        "id": "599f9925c816ebe5",
        "type": "exec",
        "z": "5a311d30739734e2",
        "command": "python /home/unitec/Documentos/GitHub/Proyecto-Capstone-UNITEC/python/facedetection/facecheckMQTT.py",
        "addpay": "command",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 400,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1eafa5e618379f1f",
        "type": "function",
        "z": "5a311d30739734e2",
        "name": "",
        "func": "\nmsg.command = \" -i \" +msg.filename + \" -j /home/unitec/Documentos/GitHub/Proyecto-Capstone-UNITEC/python/facedetection/my_db/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "599f9925c816ebe5"
            ]
        ]
    },
    {
        "id": "98adfc1a2c4de176",
        "type": "mqtt in",
        "z": "5a311d30739734e2",
        "name": "",
        "topic": "UnitecIoT/py",
        "qos": "2",
        "datatype": "auto",
        "broker": "aa3107cbb6f29f72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "639d71cd0273bf3b"
            ]
        ]
    },
    {
        "id": "639d71cd0273bf3b",
        "type": "json",
        "z": "5a311d30739734e2",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 540,
        "wires": [
            [
                "d6483318c10d1e03"
            ]
        ]
    },
    {
        "id": "d6483318c10d1e03",
        "type": "function",
        "z": "5a311d30739734e2",
        "name": "",
        "func": "var lista = Object.keys(msg.payload).length;\nlet lst = [lista];\nfor (var i = 0; i < lista; i++) {\n    lst [i] = msg.payload[i][\"VGG-Face_cosine\"];\n}\nmsg.lista = lst;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "34e944156c591576"
            ]
        ]
    },
    {
        "id": "34e944156c591576",
        "type": "calculator",
        "z": "5a311d30739734e2",
        "name": "",
        "inputMsgField": "lista",
        "outputMsgField": "max",
        "operation": "min",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 800,
        "y": 540,
        "wires": [
            [
                "3a8a65e061114837"
            ]
        ]
    },
    {
        "id": "3a8a65e061114837",
        "type": "function",
        "z": "5a311d30739734e2",
        "name": "",
        "func": "var lista = Object.keys(msg.payload).length;\nfor (var i = 0; i < lista; i++) {\n    if (msg.max == msg.payload[i][\"VGG-Face_cosine\"]) {\n        msg.iden = msg.payload[i].identity;\n        msg.index = i;\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 540,
        "wires": [
            [
                "0ecbd910399f27b5"
            ]
        ]
    },
    {
        "id": "0ecbd910399f27b5",
        "type": "string",
        "z": "5a311d30739734e2",
        "name": "",
        "methods": [
            {
                "name": "append",
                "params": [
                    {
                        "type": "msg",
                        "value": "iden"
                    }
                ]
            },
            {
                "name": "delRightMost",
                "params": [
                    {
                        "type": "str",
                        "value": "/"
                    }
                ]
            },
            {
                "name": "append",
                "params": [
                    {
                        "type": "str",
                        "value": "/info.json"
                    }
                ]
            }
        ],
        "prop": "/home/unitec/Documentos/GitHub/Proyecto-Capstone-UNITEC/python/facedetection/",
        "propout": "filename",
        "object": "str",
        "objectout": "msg",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "71d1d79a4f7e95a1"
            ]
        ]
    },
    {
        "id": "71d1d79a4f7e95a1",
        "type": "file in",
        "z": "5a311d30739734e2",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 380,
        "y": 720,
        "wires": [
            [
                "f7d84be2c6f9745c"
            ]
        ]
    },
    {
        "id": "f7d84be2c6f9745c",
        "type": "json",
        "z": "5a311d30739734e2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "ee0391d938f3f467",
                "48f052b5fafdd113",
                "1540118e883591d6",
                "3bd4285fa0e3a218",
                "3e3aa55808969c21",
                "b5e18ce2f2bb49e9",
                "21ce1a7881844326"
            ]
        ]
    },
    {
        "id": "ed4f15e13c42477b",
        "type": "ui_button",
        "z": "5a311d30739734e2",
        "name": "",
        "group": "01a86fb890637db4",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Analizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "5a023a3ba7e86465"
            ]
        ]
    },
    {
        "id": "48f052b5fafdd113",
        "type": "ui_text",
        "z": "5a311d30739734e2",
        "group": "332e1c1b4bfb5e0b",
        "order": 7,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "Alumno",
        "format": "{{msg.payload.Nombre}}",
        "layout": "col-center",
        "className": "",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "982a76db87321e85",
        "type": "inject",
        "z": "5a311d30739734e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "90b5f35487d4d0b9"
            ]
        ]
    },
    {
        "id": "90b5f35487d4d0b9",
        "type": "function",
        "z": "5a311d30739734e2",
        "name": "",
        "func": "global.set (\"fecha\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1540118e883591d6",
        "type": "ui_text",
        "z": "5a311d30739734e2",
        "group": "332e1c1b4bfb5e0b",
        "order": 5,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Carrera",
        "format": "{{msg.payload.Carrera}}",
        "layout": "col-center",
        "className": "",
        "x": 780,
        "y": 720,
        "wires": []
    },
    {
        "id": "ee0391d938f3f467",
        "type": "ui_text",
        "z": "5a311d30739734e2",
        "group": "332e1c1b4bfb5e0b",
        "order": 6,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "No. Cuenta",
        "format": "{{msg.payload.Cuenta}}",
        "layout": "col-center",
        "className": "",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "3bd4285fa0e3a218",
        "type": "ui_text",
        "z": "5a311d30739734e2",
        "group": "332e1c1b4bfb5e0b",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Campus",
        "format": "{{msg.payload.Campus}}",
        "layout": "col-center",
        "className": "",
        "x": 780,
        "y": 760,
        "wires": []
    },
    {
        "id": "3e3aa55808969c21",
        "type": "ui_text",
        "z": "5a311d30739734e2",
        "group": "332e1c1b4bfb5e0b",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Facultad",
        "format": "{{msg.payload.Escuela}}",
        "layout": "col-center",
        "className": "",
        "x": 780,
        "y": 800,
        "wires": []
    },
    {
        "id": "b5e18ce2f2bb49e9",
        "type": "ui_text",
        "z": "5a311d30739734e2",
        "group": "332e1c1b4bfb5e0b",
        "order": 2,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Estatus",
        "format": "{{msg.payload.Estatus}}",
        "layout": "col-center",
        "className": "",
        "x": 780,
        "y": 840,
        "wires": []
    },
    {
        "id": "21ce1a7881844326",
        "type": "ui_text",
        "z": "5a311d30739734e2",
        "group": "332e1c1b4bfb5e0b",
        "order": 3,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "Grado",
        "format": "{{msg.payload.Grado}}",
        "layout": "col-center",
        "className": "",
        "x": 770,
        "y": 880,
        "wires": []
    },
    {
        "id": "74fb2df4f5269143",
        "type": "ui_media",
        "z": "5a311d30739734e2",
        "group": "a42fbaa2589a312f",
        "name": "",
        "width": 7,
        "height": 4,
        "order": 1,
        "category": "Unitec",
        "file": "UNITEC_logo.fw.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 830,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f0c367c64eb0a33e",
        "type": "ui_button",
        "z": "5a311d30739734e2",
        "name": "",
        "group": "01a86fb890637db4",
        "order": 3,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Limpiar Datos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 520,
        "y": 820,
        "wires": [
            [
                "ee0391d938f3f467",
                "48f052b5fafdd113",
                "1540118e883591d6",
                "3bd4285fa0e3a218",
                "3e3aa55808969c21",
                "b5e18ce2f2bb49e9",
                "21ce1a7881844326"
            ]
        ]
    },
    {
        "id": "cf46da9633703218",
        "type": "ui_template",
        "z": "5a311d30739734e2",
        "group": "01a86fb890637db4",
        "name": "",
        "order": 1,
        "width": 7,
        "height": 5,
        "format": "<iframe width=\"320\" height=\"240\"\n    src=\"http://192.168.1.88:81/stream\">\n</iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 100,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-address-card-o"
    },
    {
        "id": "aa3107cbb6f29f72",
        "type": "mqtt-broker",
        "name": "LocalHost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "hugo-sub-nodered",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "01a86fb890637db4",
        "type": "ui_group",
        "name": "",
        "tab": "4dfadc9189a44c86",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "332e1c1b4bfb5e0b",
        "type": "ui_group",
        "name": "",
        "tab": "4dfadc9189a44c86",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a42fbaa2589a312f",
        "type": "ui_group",
        "name": "",
        "tab": "4dfadc9189a44c86",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4dfadc9189a44c86",
        "type": "ui_tab",
        "name": "Reconociemiento Facial UNITEC",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]